.title {

    display: grid;
    place-content: center;
    height: 62.5px;
    width: 62.5px;

}

.title .chess-piece {

    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50px;

}

.title .chess-piece:hover {
    cursor: grab;
}

.title .chess-piece:active {
    cursor: grabbing;
}

.black-tile {

    background-color: #779556;
}

.white-tile {


    background-color: #ebecd0;
}

.title img {

    width: 50px;
}